/*general*/
body{
    background-color: rgb(252, 245, 232);
}
/*fin general*/

/*punto 1*/
.titulo_punto1{
    background-color: rgb(63, 62, 62);
    border-radius: 10px;
    color: aliceblue;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: line-through;
    text-transform: uppercase;
    text-align: center;
    padding: 1px;
}

#cita_punto1{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: oblique;
}

/*fin del punto 1*/

/*punto 2*/
#parrafoPunto2{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline;
    text-transform:capitalize;
}

#citaPunto2{
    background-color: blanchedalmond;
    color: rgb(105, 105, 105);
    text-align:right;
    font-size: 14px;
    font-style:oblique;
}
/*fin punto 2*/

/*punto 3*/
#punto3Caja1{
    background-color: aqua;
    border-radius: 5%;
    margin-right:40%;
    padding: 1px;
    border: 3px solid black;
}
#punto3Caja2{
    background-color: rgb(214, 58, 58);
    border-radius: 30%;
    margin-right:20%;
    margin-top: 10%;
    padding: 40px;
    border: 8px solid black;
}
/*fin punto 3*/

/*punto 4*/
#caja_relativa_punto4{
    background-color: aquamarine;
    position: relative;
    top: 20px;
    left: 150px;
    padding: 5px;
}
#caja_absoluta_punto4{
    background-color: chocolate;
    position: absolute;
    left: 270px;
    top: 135px;

}
/*fin punto 4*/

/*punto5*/
@media (max-width: 768px){
    .titulo_punto1{
        background-color: blue;
    }
    #texto_punto5{
        text-align: center;
        text-decoration:overline;
        text-transform: uppercase;
        font-size: 20px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    #cita_punto5{
        background-color: antiquewhite;
        color: rgb(104, 103, 103);
        text-decoration: line-through;
        
    }
}
/*fin punto 5*/

/*punto 6*/
    .grid-container{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(150px,1fr));
        gap: 20px;
    }
    .grid-item{
        background-color: aquamarine;
        text-align: center;
        text-decoration: solid;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 20px;
        border-radius: 10px;
    }
/*fin punto 6*/

/*punto 7*/
.animacion{
    width: 100px;
    height: 100px;
    background-color: #2b91d4;
    transition: background-color 0.5s ease;
}
.animacion:hover{
    background-color: rgb(96, 201, 201);
}

.mover {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #e49953;
    animation: mover 3s infinite linear; 
}
@keyframes mover {
    0% {
        transform: translateX(0); 
    }
    100% {
        transform: translateX(300px); 
    }
}

/*fin punto 7*/